<header class="flex">
  <img
    alt="Nx logo"
    width="75"
    src="https://nx.dev/assets/images/nx-logo-white.svg"
  />
  <h1>Welcome to {{ title }}!</h1>
</header>
<main>
  <table>
    <thead>
      <tr>
          <th scope="col" >Title</th>
          <th scope="col" >Director</th>
          <th scope="col" >Studio</th>
          <th scope="col" >Release date</th>
          <th scope="col" >Tomato meter</th>
      </tr>
  </thead>
  <tbody>
      <tr class="form-group" *ngIf="movies.length == 0">
          <td colspan="7"><strong>No movies found</strong></td>
      </tr>
      <tr *ngFor="let item of movies">
          <td style="white-space:pre">{{item.title}}</td>
          <td style="white-space:pre">{{item.director}}</td>
          <td style="white-space:pre">{{item.studio}}</td>
          <td style="white-space:pre">{{item.releaseDate}}</td>
          <td style="white-space:pre">{{item.rottenTomatoesRating}}</td>
      </tr>
  </tbody>
  </table>
</main>
